In [47]:
# Charging Station
# to find all info


import requests
import pandas as pd
from datetime import date

today = date.today().strftime("%Y-%m-%d-%H-%M")
url='https://apiv2.chargehub.com/api/locationsmap?latmin=-33.043436377547444&latmax=77.52840166798826&lonmin=163.2564346359713&lonmax=-49.087315364028726&limit=1000&key=olitest&remove_networks=&remove_levels=1&remove_connectors=&remove_other=&above_power=&show_pending=1'
response=requests.get(url)
ids=[]
PortsAvail=[]

for i in response.json():
    ids.append(i['LocID'])
    PortsAvail.append(i['PortsAvail'])

 
# station data
station_id=[]
address=[]
city=[]
lat=[]
long=[]
zipcode=[]
street=[]
PriceString=[]
totalports=[]
availableports=[]
networkname=[]
AccessTime=[]
country=[]
state=[]

# plug data
plugname=[]
LastTimeUsed=[]
amp=[]
volt=[]
plug_id=[]

 
# port data
portId=[]
status=[]
port_id=[]
displayName=[]


 

for j in ids:
    url2=f'https://apiv2.chargehub.com/api/stations/details?station_id={j}&language=en'
    d=requests.get(url2)
    station_id.append(d.json()['station']['Id'])
    address.append(d.json()['station']['Address'])
    city.append(d.json()['station']['City'])
    lat.append(d.json()['station']['Lat'])
    street.append(d.json()['station']['Street'])
    zipcode.append(d.json()['station']['Zip'])
    long.append(d.json()['station']['Long'])
    availableports.append(d.json()['station']['AvailablePorts'])
    totalports.append(d.json()['station']['TotalPorts'])
    PriceString.append(d.json()['station']['PriceString'])
    networkname.append(d.json()['station']['NetworkName'])
    AccessTime.append(d.json()['station']['AccessTime'])
    country.append(d.json()['station']['Country'])
    state.append(d.json()['station']['prov_state'])

   
    for plug in d.json()['station']['PlugsArray']:
        plugname.append(plug['Name'])
        LastTimeUsed.append(plug['LastTimeUsed'])
        amp.append(plug['Amp'])
        volt.append(plug['Volt'])
        plug_id.append(j)

 

    for portname in d.json()['station']['PlugsArray'][0]['Ports']:
        portId.append(portname['portId'])
        status.append(portname['status'])
        displayName.append(portname['displayName'])
        port_id.append(j)

plug ={'Plug Name':plugname,
    'LastTimeUsed':LastTimeUsed,
    'Amp':amp,
    'Station ID':plug_id,
    'fetched date': today,
    'Volt': volt
     }


port={'Port ID':portId,
      'Display Name': displayName,
    'Status':status,
    'Station ID': port_id,
    'fetched date': today
     }

 
station={'Station ID':station_id,
         'Address':address,
         'Latitude':lat,
         'Longitude':long,
         'Zipcode': zipcode,
         'Street': street,
        'City': city,
         'State':state,
        'Country': country,
         'Access Time': AccessTime,
         'PriceString':PriceString,
         'Total Ports': totalports,
         'Available Ports': availableports,
        'fetched date': today,
         'Network Name': networkname

        }

In [48]:
# export the data to loacl file

pd.DataFrame(station).to_csv(f'/Users/Zack Burnside/Desktop/collections/chargers/pepsi {today}.csv')
pd.DataFrame(plug).to_csv(f'/Users/Zack Burnside/Desktop/collections/chargers/plug {today}.csv')
pd.DataFrame(port).to_csv(f'/Users/Zack Burnside/Desktop/collections/chargers/port {today}.csv')

In [50]:
pd.DataFrame(station)

,Station ID,Address,Latitude,Longitude,Zipcode,Street,City,State,Country,Access Time,PriceString,Total Ports,Available Ports,fetched date,Network Name
0,65,"3220 Cedar Hill Road, Victoria, BC, V8P 3Y3",48.449714,-123.343123,V8P 3Y3,Cedar Hill Road,Victoria,BC,CAN,24 Hours,$1.00 / hr,4,3,2022-12-13-00-00,Flo
1,159,"1710 North Cherokee Avenue, Hollywood, CA, 90028",34.102031,-118.334771,90028,North Cherokee Avenue,Hollywood,CA,USA,24 Hours,Cost: Free,2,1,2022-12-13-00-00,Shell Recharge
2,182,"400 East Green Street, Pasadena, CA, 91101",34.144224,-118.142129,91101,East Green Street,Pasadena,CA,USA,24 Hours,Cost: Free,6,0,2022-12-13-00-00,None
3,185,"606 Fair Oaks Avenue, South Pasadena, CA, 91030",34.118433,-118.149597,91030,Fair Oaks Avenue,South Pasadena,CA,USA,24 Hours,Cost: Unknown,1,0,2022-12-13-00-00,None
4,206,"5425 Wilson Street, Riverside, CA, 92509",34.018900,-117.380000,92509,Wilson Street,Riverside,CA,USA,Mon - Fri 8:00 ~ 16:30,Cost: Free,3,0,2022-12-13-00-00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8486,"30800 Gratiot Avenue, Roseville, MI, 48066",42.523619,-82.917703,48066,Gratiot Avenue,Roseville,MI,USA,Dealership business hours,Cost: Free,1,0,2022-12-13-00-00,None
996,8487,"28585 Telegraph Road, Southfield, MI, 48034",42.497905,-83.286209,48034,Telegraph Road,Southfield,MI,USA,Dealership business hours,Cost: Free,1,0,2022-12-13-00-00,None
997,8490,"1470 50th Street East, Inver Grove Heights, MN...",44.877212,-93.076039,55077,50th Street East,Inver Grove Heights,MN,USA,Dealership business hours,Cost: Free,1,0,2022-12-13-00-00,None
998,8491,"870 Chicago Drive, Holland, MI, 49423",42.799328,-86.070550,49423,Chicago Drive,Holland,MI,USA,Dealership business hours,Cost: Free,1,0,2022-12-13-00-00,None
999,8493,"4642 Highway 52 North, Rochester, MN, 55901",44.071507,-92.499454,55901,Highway 52 North,Rochester,MN,USA,Dealership business hours,Cost: Free,1,0,2022-12-13-00-00,None

In [52]:
pd.DataFrame(plug)

,Plug Name,LastTimeUsed,Amp,Station ID,fetched date,Volt
0,EV Plug (J1772),Last used less than 24 hours ago,30 A,65,2022-12-13-00-00,208 V
1,EV Plug (J1772),Last used over 2 weeks ago,30 A,159,2022-12-13-00-00,240 V
2,EV Plug (J1772),Last used over 2 weeks ago,30 A,159,2022-12-13-00-00,240 V
3,EV Plug (J1772),None,,182,2022-12-13-00-00,
4,EV Plug (J1772),None,,185,2022-12-13-00-00,
...,...,...,...,...,...,...
1293,EV Plug (J1772),None,,8486,2022-12-13-00-00,
1294,EV Plug (J1772),None,,8487,2022-12-13-00-00,
1295,EV Plug (J1772),None,,8490,2022-12-13-00-00,
1296,EV Plug (J1772),None,,8491,2022-12-13-00-00,
1297,EV Plug (J1772),None,,8493,2022-12-13-00-00,

In [53]:
pd.DataFrame(port)

      Port ID Display Name  Status  Station ID      fetched date
0          25      AAA-289       1          65  2022-12-13-00-00
1      117511      AAA-290       2          65  2022-12-13-00-00
2      722203    AAB-18083       1          65  2022-12-13-00-00
3      722202    AAB-18084       1          65  2022-12-13-00-00
4      522064       122338       0         159  2022-12-13-00-00
...       ...          ...     ...         ...               ...
1783     4426       Port 1       0        8486  2022-12-13-00-00
1784     4427       Port 1       0        8487  2022-12-13-00-00
1785     4428       Port 1       0        8490  2022-12-13-00-00
1786     4429       Port 1       0        8491  2022-12-13-00-00
1787     4431       Port 1       0        8493  2022-12-13-00-00

[1788 rows x 5 columns]