In [2]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2021.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2021 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2021)
        df_2021.loc[length] = row
df_2021

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nLee Westwood\n,65,425,Byron Nelson,3,8,894
1,\n 2,\n 2,\nCameron Champ\n,79,424,Sentry,4,7,656
2,\n 3,\n 3,\nConnor Syme\n,2,423,U.S. Open(2020),2,4,891
3,\n 4,\n 4,\nDustin Johnson\n,75,419,U.S. Open(2020),4,9,891
4,\n 5,\n 5,\nBryson DeChambeau\n,83,414,Sentry,2,12,656
...,...,...,...,...,...,...,...,...,...
629,\n T628,\n T628,\nSantiago Tarrio\n,2,272,Mayakoba,2,5,733
630,\n 631,\n 631,\nSteve Jones\n,2,271,The Amex,1,2,704
631,\n 632,\n 632,\nFred Funk\n,4,267,Bermuda,3,12,765
632,\n 633,\n 633,\nLarry Mize\n,4,266,Masters (2020),1,1,014
633,\n 634,\n 634,\nJeff Roth\n,2,265,Rocket Mortgage,2,2,876

In [3]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2020.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2020 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2020)
        df_2020.loc[length] = row
df_2020

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nJustin Thomas\n,66,449,WGC-Mexico,4,2,240
1,\n T2,\n T2,\nRickie Fowler\n,44,431,the Memorial,1,17,023
2,\n T2,\n T2,\nBubba Watson\n,66,431,the Memorial,4,17,023
3,\n T4,\n T4,\nSergio Garcia\n,44,429,the Memorial,4,17,023
4,\n T4,\n T4,\nLanto Griffin\n,96,429,Sentry,1,7,656
...,...,...,...,...,...,...,...,...,...
480,\n T481,\n T481,\nDavid Duval\n,1,275,Pebble Beach,1,10,005
481,\n T481,\n T481,\nEdward Figueroa\n,2,275,Puerto Rico,2,2,742
482,\n T481,\n T481,\nJeff Roth\n,2,275,PGA Champ,2,4,895
483,\n 484,\n 484,\nFred Funk\n,2,253,Bermuda,2,2,765
484,\n 485,\n 485,\nDwayne Pearman\n,2,243,Bermuda,2,12,765

In [4]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2019.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2019 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2019)
        df_2019.loc[length] = row
df_2019

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\n Justin Thomas,75,457,WGC-Mexico,3,10,240
1,\n 2,\n 2,\n Bubba Watson,65,455,U.S. Open,2,2,666
2,\n 3,\n 3,\n Patrick Rodgers,55,428,Safeway Open,4,13,552
3,\n T4,\n T4,\n Wyndham Clark,87,424,Safeway Open,4,13,552
4,\n T4,\n T4,\n Maverick McNealy,6,424,Safeway Open,4,13,552
...,...,...,...,...,...,...,...,...,...
614,\n 615,\n 615,\n Ian Woosnam,2,275,Masters,1,1,014
615,\n 616,\n 616,\n Craig Bowden,2,273,PGA Champ,2,1,880
616,\n 617,\n 617,\n Spike McRoy,2,270,Puerto Rico,2,2,742
617,\n 618,\n 618,\n José María Olazábal,2,262,Masters,2,1,014
618,\n 619,\n 619,\n Larry Mize,2,255,Masters,2,1,014

In [5]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2018.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2018 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2018)
        df_2018.loc[length] = row
df_2018

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nMichael Block\n,9,433,U.S. Open,1,3,618
1,\n T2,\n T2,\nDustin Johnson\n,77,430,Sentry T of C,4,12,656
2,\n T2,\n T2,\nHudson Swafford\n,73,430,Sentry T of C,3,7,656
3,\n 4,\n 4,\nJhonattan Vegas\n,92,424,Sentry T of C,3,7,656
4,\n T5,\n T5,\nKevin Kisner\n,89,423,Sentry T of C,2,7,656
...,...,...,...,...,...,...,...,...,...
621,\n 622,\n 622,\nCraig Bowden\n,2,282,PGA Championshi,1,8,534
622,\n T623,\n T623,\nGlen Day\n,2,280,RBC Heritage,1,16,012
623,\n T623,\n T623,\nLarry Mize\n,2,280,Masters,1,2,014
624,\n 625,\n 625,\nJavier Colomo\n,2,277,Mayakoba,1,13,733
625,\n 626,\n 626,\nMark Brooks\n,3,274,CareerBuilder,2,13,202

In [6]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2017.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2017 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2017)
        df_2017.loc[length] = row
df_2017

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nDustin Johnson\n,77,439,WGC-Bridgestone,1,16,036
1,\n 2,\n 2,\nAdam Scott\n,58,435,WGC-Bridgestone,2,16,036
2,\n 3,\n 3,\nHudson Swafford\n,94,433,WGC-Bridgestone,1,16,036
3,\n 4,\n 4,\nScott Hend\n,22,424,WGC-Bridgestone,1,16,036
4,\n 5,\n 5,\nBrooks Koepka\n,88,420,WGC-Bridgestone,4,16,036
...,...,...,...,...,...,...,...,...,...
605,\n T604,\n T604,\nIan Woosnam\n,2,279,Masters,1,1,014
606,\n 607,\n 607,\nToto Gana\n,2,275,Masters,2,1,014
607,\n 608,\n 608,\nHuilin Zhang\n,4,268,WGC-HSBC Champ.,2,14,766
608,\n 609,\n 609,\nMark Brooks\n,3,263,CareerBuilder,1,15,704
609,\n 610,\n 610,\nMatthew Millar\n,4,258,WGC-HSBC Champ.,2,14,766

In [7]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2016.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2016 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2016)
        df_2016.loc[length] = row
df_2016

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nJustin Thomas\n,99,414,WGC-Bridgestone,2,16,036
1,\n 2,\n 2,\nBubba Watson\n,72,411,Hyundai T of C,3,6,656
2,\n 3,\n 3,\nRhein Gibson\n,58,406,Canadian Open,3,16,032
3,\n 4,\n 4,\nJason Day\n,76,404,Canadian Open,2,18,032
4,\n T5,\n T5,\nKevin Kisner\n,97,403,Hyundai T of C,2,17,656
...,...,...,...,...,...,...,...,...,...
587,\n 588,\n 588,\nSoren Hansen\n,2,269,U.S. Open,2,2,608
588,\n T589,\n T589,\nTyler Raber\n,2,268,U.S. Open,1,2,608
589,\n T589,\n T589,\nToru Taniguchi\n,2,268,U.S. Open,2,2,608
590,\n 591,\n 591,\nTom Watson\n,2,264,Masters,1,1,014
591,\n 592,\n 592,\nSSP Chawrasia\n,8,261,WGC-HSBC Champ.,1,18,766

In [8]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2015.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2015 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2015)
        df_2015.loc[length] = row
df_2015

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nBernd Wiesberger\n,33,428,WGC-Bridgestone,4,16,036
1,\n 2,\n 2,\nMarc Leishman\n,74,410,WGC-Bridgestone,4,16,036
2,\n T3,\n T3,\nJason Day\n,75,409,Hyundai T of C,1,12,656
3,\n T3,\n T3,\nGeoff Ogilvy\n,50,409,Hyundai T of C,1,7,656
4,\n 5,\n 5,\nDustin Johnson\n,75,406,WGC-Bridgestone,2,16,036
...,...,...,...,...,...,...,...,...,...
197,\n T897,\n T897,\nJohn Merrick\n,78,355,Canadian Open,1,18,032
198,\n T897,\n T897,\nChris Smith\n,29,355,AT&T Pebble,2,10,769
199,\n T897,\n T897,\nBoo Weekley\n,79,355,Sony Open,3,5,006
200,\n T968,\n T967,\nRyo Ishikawa\n,90,354,Valspar Champ,2,18,665
201,\n T968,\n T967,\nChris Naegel\n,6,354,John Deere Clas,3,10,669

In [9]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2014.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2014 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2014)
        df_2014.loc[length] = row
df_2014

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nBubba Watson\n,76,424,WGC-Bridgestone,3,16,036
1,\n 2,\n 2,\nWebb Simpson\n,87,397,Hyundai T of C,4,7,656
2,\n 3,\n 3,\nJordan Spieth\n,102,396,Hyundai T of C,4,7,656
3,\n 4,\n 4,\nGonzalo Fernandez-Castaño\n,83,395,WGC-HSBC Champ.,4,14,766
4,\n 5,\n 5,\nScott Brown\n,100,390,Hyundai T of C,4,7,656
...,...,...,...,...,...,...,...,...,...
189,\n T907,\n T900,\nSpencer Levin\n,59,349,Shriners Hosp.,4,11,538
190,\n T907,\n T900,\nPeter Malnati\n,48,349,AT&T Pebble,3,6,769
191,\n T907,\n T900,\nBen Martin\n,80,349,The Open,2,1,724
192,\n T907,\n T900,\nTyrone Van Aswegen\n,79,349,Shriners Hosp.,1,2,538
193,\n T907,\n T900,\nHarold Varner III\n,6,349,Northern Trust,2,15,500

In [10]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2013.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2013 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2013)
        df_2013.loc[length] = row
df_2013

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nPhil Mickelson\n,78,450,WGC-Cadillac,1,17,008
1,\n 2,\n 2,\nKyle Stanley\n,71,428,Hyundai T of C,2,7,656
2,\n 3,\n 3,\nIan Poulter\n,59,426,Hyundai T of C,1,12,656
3,\n 4,\n 4,\nGraham DeLaet\n,94,420,Shell Houston,4,8,729
4,\n 5,\n 5,\nCharlie Beljan\n,62,418,Hyundai T of C,2,12,656
...,...,...,...,...,...,...,...,...,...
196,\n T950,\n T939,\nBud Cauley\n,67,347,Sony Open,1,18,006
197,\n T950,\n T939,\nSergio Garcia\n,65,347,Northern Trust,3,3,500
198,\n T950,\n T939,\nScott Jamieson\n,10,347,WGC-Cadillac,4,14,008
199,\n T950,\n T939,\nJesper Parnevik\n,32,347,HP Byron Nelson,3,3,019
200,\n T950,\n T939,\nHeath Slocum\n,30,347,AT&T Pebble,2,10,769

In [11]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2012.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2012 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2012)
        df_2012.loc[length] = row
df_2012

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nGary Woodland\n,70,450,Hyundai T of C,1,18,656
1,\n T2,\n T2,\nKeegan Bradley\n,90,442,WGC-Bridgestone,2,16,036
2,\n T2,\n T2,\nBubba Watson\n,68,442,WGC-Bridgestone,3,16,036
3,\n 4,\n 4,\nLouis Oosthuizen\n,65,430,WGC-Bridgestone,3,16,036
4,\n 5,\n 5,\nKyle Stanley\n,86,429,WGC-Bridgestone,3,16,036
...,...,...,...,...,...,...,...,...,...
575,\n 576,\n 576,\nIan Keenan\n,2,260,The Open,1,2,539
576,\n 577,\n 577,\nMark Carnevale\n,1,256,True South Cl,1,9,609
577,\n 578,\n 578,\nMardan Mamat\n,1,252,The Open,1,2,539
578,\n 579,\n 579,\nBen Crenshaw\n,2,247,Masters,1,1,014
579,\n 580,\n 580,\nDarrell Kestner\n,2,244,PGA Championshi,2,2,697

In [12]:
#package imports
from bs4 import BeautifulSoup 
import lxml
import requests as request
import pandas as pd

#access the url and assign
url = 'https://www.pgatour.com/content/pgatour/stats/stat.159.y2011.html'
request.get(url)
page = request.get(url)

#use bs4 
soup = BeautifulSoup(page.text, 'html')

#find the table
table_data = soup.find('table', class_ ='table-styled')

#assign the headers
headers = []
for i in table_data.find_all('th'): #find the positions of the headers
    title = i.text #convert to text
    headers.append(title)

df_2011 = pd.DataFrame(columns = headers)

#grab the contents of the table
for j in table_data.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        length = len(df_2011)
        df_2011.loc[length] = row
df_2011

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nDustin Johnson\n,72,463,Deutsche Bank,4,7,700
1,\n 2,\n 2,\nDerek Lamely\n,65,419,The Greenbrier,2,7,771
2,\n T3,\n T3,\nJ.B. Holmes\n,57,415,Texas Open,2,10,770
3,\n T3,\n T3,\nBubba Watson\n,85,415,WGC-Bridgestone,3,16,036
4,\n 5,\n 5,\nGary Woodland\n,93,409,HP Byron Nelson,3,1,019
...,...,...,...,...,...,...,...,...,...
574,\n 575,\n 575,\nLion Kim\n,2,273,Masters,2,1,014
575,\n 576,\n 576,\nMichael Campbell\n,2,272,U.S. Open,2,1,024
576,\n 577,\n 577,\nBeau Hossler\n,2,270,U.S. Open,1,1,024
577,\n 578,\n 578,\nLarry Mize\n,2,269,Masters,2,1,014
578,\n 579,\n 579,\nBen Crenshaw\n,2,258,Masters,2,1,014

In [14]:
total = [df_2021, df_2020, df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011]

result = pd.concat(total)

result

,RANK THIS WEEK,\n RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,\n 1,\n 1,\nLee Westwood\n,65,425,Byron Nelson,3,8,894
1,\n 2,\n 2,\nCameron Champ\n,79,424,Sentry,4,7,656
2,\n 3,\n 3,\nConnor Syme\n,2,423,U.S. Open(2020),2,4,891
3,\n 4,\n 4,\nDustin Johnson\n,75,419,U.S. Open(2020),4,9,891
4,\n 5,\n 5,\nBryson DeChambeau\n,83,414,Sentry,2,12,656
...,...,...,...,...,...,...,...,...,...
574,\n 575,\n 575,\nLion Kim\n,2,273,Masters,2,1,014
575,\n 576,\n 576,\nMichael Campbell\n,2,272,U.S. Open,2,1,024
576,\n 577,\n 577,\nBeau Hossler\n,2,270,U.S. Open,1,1,024
577,\n 578,\n 578,\nLarry Mize\n,2,269,Masters,2,1,014
578,\n 579,\n 579,\nBen Crenshaw\n,2,258,Masters,2,1,014

In [15]:
#clean Player name 
player_name = result['PLAYER NAME'].str.replace('\n','')

#convert distance from object to int
distance = result['DISTANCE']
distance = pd.to_numeric(distance)
#convert distance from object to int
rounds = result['ROUNDS']
rounds = pd.to_numeric(rounds)

In [16]:
result.columns = [i.replace('\n', '').replace(u'\xa0', u' ').strip() for i in result.columns]
result['RANK THIS WEEK'].str.replace('\n', '').str.replace('T', '')
result['RANK THIS WEEK'] = result['RANK THIS WEEK'].str.extract('(\d+)')
#cleaning each via a for loop
for i in result.columns:
    result[i] = result[i].str.replace('\n', '')
    
result

,RANK THIS WEEK,RANK LAST WEEK,PLAYER NAME,ROUNDS,DISTANCE,TOURNAMENT,ROUND,HOLE,COURSE
0,1,1,Lee Westwood,65,425,Byron Nelson,3,8,894
1,2,2,Cameron Champ,79,424,Sentry,4,7,656
2,3,3,Connor Syme,2,423,U.S. Open(2020),2,4,891
3,4,4,Dustin Johnson,75,419,U.S. Open(2020),4,9,891
4,5,5,Bryson DeChambeau,83,414,Sentry,2,12,656
...,...,...,...,...,...,...,...,...,...
574,575,575,Lion Kim,2,273,Masters,2,1,014
575,576,576,Michael Campbell,2,272,U.S. Open,2,1,024
576,577,577,Beau Hossler,2,270,U.S. Open,1,1,024
577,578,578,Larry Mize,2,269,Masters,2,1,014
578,579,579,Ben Crenshaw,2,258,Masters,2,1,014

In [18]:
del result['RANK THIS WEEK']
del result['RANK LAST WEEK']

In [24]:
result.to_excel('PGA_Final.xlsx')